language: node_js
sudo: false
branches:
  only:
  - hexo
cache:
  directories:
  - node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_b60764d3cdc1_key -iv $encrypted_b60764d3cdc1_iv
  -in .travis/travis.enc -out ~\/.ssh/travis -d
- chmod 600 ~/.ssh/id_rsa
- eval $(ssh-agent)
- ssh-add ~/.ssh/id_rsa
- cp .travis/ssh_config ~/.ssh/config
- git config --global user.name 'allenn'
- git config --global user.email 'xudongzheng1225@gmail.com'
- export TZ='Asia/Shanghai'
install:
- npm install hexo-cli -g
- npm install
script:
- hexo clean
- hexo g
- hexo d
